fastapi==0.110.0
uvicorn[standard]==0.27.1
gunicorn==21.2.0

pydantic==2.6.4
email-validator==2.1.0.post1
python-multipart==0.0.9
python-dotenv==1.0.1

numpy==1.24.4
opencv-python-headless==4.9.0.80
pillow==10.2.0

deepface==0.0.79
tensorflow==2.12.0
keras==2.12.0

requests==2.31.0
tqdm==4.66.2

supabase==2.4.0
postgrest==0.13.0
storage3==0.7.0
